{% extends "chpa_data/analysis.html" %}

{% block display %}
<!-- 创建2个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->
<div class="ui pointing secondary menu">
    <a class="item active" data-tab="total"><i class="circle icon"></i>总体表现</a>
    <a class="item" data-tab="competition"><i class="trophy icon"></i>竞争现状</a>
</div>
<div class="ui tab segment active" data-tab="total">
    <h3 class="ui header">
        <div class="content">
            定义市场当前表现
            <div class="sub header">KPIs</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->
    <div class="ui small three statistics">
        <div class="statistic">
            <div class="value" id="value_size">
                {{ market_size }}
            </div>
            <div class="label" id="label_size_unit">
                滚动年金额
            </div>
        </div>
        <div class="statistic" id="div_gr">
            <div class="value" id="value_gr">
                {{ market_gr }}
            </div>
            <div class="label">
                同比增长
            </div>
        </div>
        <div class="statistic" id="div_cagr">
            <div class="value" id="value_cagr">
                {{ market_cagr }}
            </div>
            <div class="label">
                4年CAGR
            </div>
        </div>
    </div>
</div>
<div class="ui tab segment" data-tab="competition">
    <h3 class="ui header">
        <div class="content">
            最新横断面KPI一览
            <div class="sub header">数据表格</div>
        </div>
    </h3>
    <div class="ui divider"></div>

    <div class="ui container" id='result_table' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
        {{ ptable|safe }}
    </div>

</div>

<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();
</script>
{% endblock %}
