<div class="ui container">
    <div class="ui form">
        <form action="" method="post">
            <!-- 在Django所有的 POST 表单元素时，需要加上下方的csrf_token tag，主要是安全方面的机制，本例后续使用AJAX方法，这里的POST class和token都不生效 -->
            {% csrf_token %}
            <h3 class="ui header" id="analysis">分析维度</h3>
            <div class="field">
                <div class="fields">
                    <div class="sixteen wide field">
                        <select name="DIMENSION_select" id="DIMENSION_select" class="ui fluid search dropdown">
                            {% for key, value in mselect_dict.items %}
                                {% if value.select == 'PRODUCT' %}
                                    <option value="{{ value.select }}" selected>{{ key }}</option>
                                {% else %}
                                    <option value="{{ value.select }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <select name="UNIT_select" id="UNIT_select" class="ui fluid search dropdown">
                            <option value="Value" selected>金额</option>
                            <option value="Volume">盒数</option>
                            <option value="Volume (Counting Unit)">最小制剂单位数</option>
                        </select>
                    </div>
                    <div class="eight wide field">
                        <select name="PERIOD_select" id="PERIOD_select" class="ui fluid search dropdown">
                            <option value="MAT" selected>滚动年</option>
                            <option value="QTR">季度</option>
                        </select>
                    </div>
                </div>
            </div>
            <h3 class="ui header" id="data_filter">数据筛选</h3>
            <div class="field">
                {% for key, value in mselect_dict.items %}
                <div class="field">
                    <select name="{{ value.select|add:"_select[]" }}" id="{{ value.select|add:"_select" }}" multiple=""
                            class="ui fluid search dropdown">
                        <option value="">{{ key }}</option>
                        {% for item in value.options %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="ui buttons">
                <input class="ui blue button" type='button' id='AJAX_get' value="查询"/>
            </div>
        </form>
    </div>
</div>

<!-- 因为用到Semantic UI的Search Dropdown控件，必须有下面语句初始化 -->
<script>
    $('.ui.fluid.search.dropdown')
        .dropdown({ fullTextSearch: true });
</script>

<script>
    // 在JS中再次使用字段字典，要加|safe不转义
    var dict = {{ mselect_dict|safe }};
    // 还是转义问题，在Django模板中遇到带有{}的html代码必须使用replace这种方式处理
    var url = "{% url 'chpa:search' 'COLUMNPLACEHOLDER' 'QUERYPLACEHOLDER' %}".replace(
        'QUERYPLACEHOLDER', '{query}'
    );
    // jQuery语法遍历所有多选框
    $('.ui.fluid.search.dropdown.selection.multiple').each(function () {
        // Semantic UI语法获得多选框默认文本
        var text = $(this).dropdown('get default text');
        // 根据字典倒推该多选框是哪个字段
        var column = dict[text]['select'];
        $(this).dropdown(
            {
                apiSettings: {
                    // 用下方URL从后端返回查询后的json
                    url: url.replace('COLUMNPLACEHOLDER', column)
                },
                // 输入至少2个字符后才query
                minCharacters : 2
            })
        ;
    })
</script>
